<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}:%msg%n</pattern>
        </encoder>
    </appender>
    <logger name="org.neo4j.ogm" level="debug"/>
    <root level="debug">
        <appender-ref ref="Console"/>
    </root>
</configuration>
